.additional, .quick{
	
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	background:white;
	border-bottom:1vh solid black;
	width:100%;
	min-height:0;
	height:0;
	@include transitionatts(min-height, .6s, ease);

	
	&.shown{
		min-height:100vh;
	}

	.back{
		height: 8vh;
		font-size: 4vh;
		padding-left: 5vh;
		line-height: 8vh;
		text-transform: uppercase;
		border-bottom:1px solid;

		&:before{
			float:left;
			content:"\2039";
			font-size:2em;
			position:absolute;
			top:-0.1em;
			left: 1vh;
			@include font(thin);
		}
	}
	
	.additional-content{
		padding: 3vw 5vw;
		line-height:135%;
		height: 92vh;
		overflow-y: scroll;
		overflow-x: auto;

		h2 {
			font-size: 5vw;
			line-height:140%;
		}
		p {
			font-size: 3.5vw;
			line-height:140%;
		}

		img{
			width:100vw;
			margin-left:-7vw;
		}
	}

	.expandable{
		padding:2vw;
		border-bottom:1px solid;

		.expandable-title{
			padding:2vw 0;
			font-size:1.3em;
			position:relative;

			&:after{
				content:"+";
				position:absolute;
				right:0;

			}
		}

		.expandable-content{
			display:none;

			.padd-bottom{
				padding-bottom:4em;
			}
		}
	}
}